*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body{
  

background-image: url('https://i1.modland.net/i/6451919fde5b0/Total%20Black-lg_modland.webp')
}
.wrapper{

  width: 1100px;
  height: 900px;
  border: 2px solid black;
  position: relative;
  margin: 30px auto;
  border-radius: 50%;
}

input{
  position: absolute;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0);
  color: #735935;
  padding: 20px;
}

input::placeholder{
  text-align: center;
  color: #735935;
  font-size: 18px;
}

#left_1{
  padding: 48px;
  top: 5px;
  right: 41%;
}

#left_2{
  width: 150px;
  top: 100px;
  right: 69%;
}

#left_3{
  width: 150px;
  top: 250px;
  right: 81%;
}

#left_4{
  width: 150px;
  top: 400px;
  right: 85%;
}

#left_5{
  width: 150px;
  top: 550px;
  right: 83%;
}

#left_6{
  width: 150px;
  top: 700px;
  right: 73%;
}

#right_1{
  width: 150px;
  top: 100px;
  right: 18%;
}

#right_2{
  width: 150px;
  top: 250px;
  right: 5%;
}

#right_3{
  width: 150px;
  top: 400px;
  right: 1%;
}

#right_4{
  width: 150px;
  top: 550px;
  right: 3%;
}

#right_5{
  width: 150px;
  top: 700px;
  right: 13%;
}

button{
  position: absolute;
  width: 300px;
  height: 150px;
  top: 700px;
  right: 36%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 900;
  background-color: rgba(155, 127, 255, 0);
  border-radius: 50px;

}
#answer{
  font-size: 35px;
  position: absolute;
  top: 400px;
  right: 50%;
  color: #735935;
}

#quality{
  font-size: 35px;
  position: absolute;
  top: 500px;
  right: 43%;
  color: #735935;
}